.icon-down {
    display: inline-block;
    width: 30px;
    height: 30px;
    /* 下左设置边框颜色 */
    border: 1px solid #000;
    /* 逆时针旋转45度  */
    transform: rotate(-45deg);
    border-width: 0 0 1px 1px;
    text-align: center;
}

.icon-down-black {
    display: inline-block;
    height: 0px;
    width: 0px;
    border-color: red transparent transparent transparent;
    border-width: 10px;
    border-style: solid solid solid solid;
    margin-left: 20px;
}

.icon-up {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    transform: rotate(-45deg);
    border-width: 1px 1px 0 0;
    text-align: center;
    position: relative;
    top: 15px;
    left: 10px;
}

.icon-up-black {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent transparent red transparent;
    border-style: solid;
    margin-left: 20px;
}